/* debut milaje */

.text-justifier {
    text-align: justify;
}

p {
    font-family: Cantarell_Regular;
}

.milaje {
    background-image: url("../IllustrationsLogo/Enigme/Pantherenigme1.png");
    background-size: 50%;
    background-position: top left;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 550px;
}

.milaje .presentation {
    margin-top: 6%;
    width: 50%;
}

.milaje .presentation h1 {
    font-family: beyeno;
    color: #DF99F2;
    width: 300px;
}

.containeurlogI {
    position: absolute;
    width: 100%;
    bottom: 50px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.containeurlogI .blocBP {
    width: 40px;
}

.borderGradienBand {
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(90deg, rgba(182, 182, 182, 0.1881127450980392) 6%, rgba(167, 167, 167, 0.07326680672268904) 100%) 1;
}

.containeurlogI .bande {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.presentation .text-enarc {
    background-image: url("../IllustrationsLogo/Enigme/Pantherenigme2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation .text-enarc .containeurp p {
    font-family: Cantarell_Regular;
    color: white;
    font-size: 1vw;
}

.presentation .text-enarc .containeurp {
    margin: 120px auto;
    /* width:500px; */
    width: calc(80% - 50px);
}


/* fin milaje */

.suite {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.allcontent {
    width: 600px;
}

.content1 h1 {
    font-family: beyeno;
    color: #9E91B7;
    font-size: 20px;
    text-decoration: underline;
}

.levelup {
    font-family: Arial;
    font-weight: 600;
}

.content1 p {
    margin-top: 25px;
    width: 80%;
    color: #fff;
    font-size: 20px;
}

.content1 .enonce {
    font-size: 14px;
}

.content1 p span {
    font-family: wakandaForever;
}

.content1 .violet {
    color: #9E91B7;
}

.content2 {
    background-image: url("../IllustrationsLogo/Enigme/Pantherenigme2.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.content2-bloc {
    width: 470px;
    position: relative;
    top: 150px;
}

.content2-bloc p span {
    font-family: wakandaForever;
}

.content2-bloc p {
    font-size: 16px;
    color: #fff;
}


/* formulaire */

.valideReponse {
    margin-top: 50px;
}

.valideReponse label {
    display: block;
    color: #fff;
}

.valideReponse input[type="text"] {
    display: block;
    margin-top: 10px;
    width: 330px;
    border-radius: 38px;
    padding: 15px;
    outline: none;
    border: 1px solid #DF99F2;
    background-color: transparent;
    color: white;
}

.btn-envoyer {
    width: 170px;
    height: 50px;
    border-radius: 30px;
    padding: 12px;
    outline: none;
    border-radius: 38px;
    border: none;
    background-color: #9E91B7;
    margin: 40px 80px;
    font-family: beyeno;
}

.btn-envoyer:hover {
    box-shadow: 0px 0px 10px hsl(300, 20%, 88%);
}


/* popup success */

.popUgood,
.popUPTerminer {
    width: 600px;
    height: 400px;
    background: #021740fa;
    filter: blur(50px 50px 60px linear-gradient(180deg, #3D2DA6 25%, #021740fa 51%));
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
    left: 350px;
    border-radius: 30px;
    box-shadow: 0px 20px 21px 50px #021740fa;
}

.gameSuccess {
    width: 400px;
    background: linear-gradient(180deg, #9E91B7 10%, #061a448e 60%);
    text-align: center;
    padding: 25px;
    border-radius: 20px;
}

.gameSuccess h1 {
    color: #fff;
}

.gameSuccess p {
    color: #fff;
    width: 300px;
    margin: 20px auto;
}

.gameSuccess button {
    height: 50px;
    border-radius: 30px;
    padding: 12px;
    outline: none;
    border-radius: 38px;
    border: none;
    background-color: #F2CEF2;
    margin: 40px 80px;
    font-weight: 600;
    color: #021740;
    font-family: Cantarell_Regular;
    width: 260px;
}