@font-face {
    font-family: beyeno;
    src: url("../police/BEYNO.ttf");
}

@font-face {
    font-family: Panthera;
    src: url("../police/PantheraRegular-MVZ9J.ttf");
}

@font-face {
    font-family: Cantarell_Regular;
    src: url("../police/Cantarell-Regular.ttf");
}

@font-face {
    font-family: wakandaForever;
    src: url("../police/WakandaForever-Regular.ttf");
}