* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../IllustrationsLogo/Allpages/arrière_plan.png"), radial-gradient(126.67% 350.28% at -21.35% 0%, #11213F 0%, #0B0B0B 39.1%, rgba(2, 23, 64, 0.837641) 94.57%, rgba(2, 23, 64, 0) 100%);
    background-position: left top, left 30%;
    background-size: cover, 0%;
    background-repeat: no-repeat, no-repeat;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/* ici commence le header */

a {
    text-decoration: none;
}

header {
    margin-top: 15px;
}

header .container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

header .container .grp-navigation a {
    font-family: "beyeno", sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
}

header .container .grp-navigation a:hover {
    text-decoration: underline;
}

.grp-logohead {
    display: flex;
    flex-direction: row;
}

.grp-logohead a {
    line-height: 30px;
}

.grp-logohead:hover {
    filter: brightness(0) saturate(100%) invert(68%) sepia(8%) saturate(1073%) hue-rotate(219deg) brightness(88%) contrast(81%);
}

.bloc-aside {
    display: flex;
    flex-direction: column;
    width: 50px;
    margin: 0%;
    margin-left: 4px;
    position: fixed;
    top: -20px;
    left: 3%;
    border-left: 4px solid #9E91B7;
    width: 30px;
    z-index: 4;
}

.band-right {
    padding-top: 260px;
    border-right: 4px solid #9E91B7;
}

.asideleft .iconesAssideLeft {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 4px;
}

.iconesAssideLeft {
    width: 30px;
    text-align: center;
}

.iconesAssideLeft img:hover {
    filter: brightness(0) saturate(100%) invert(100%) sepia(64%) saturate(2%) hue-rotate(210deg) brightness(110%) contrast(100%);
}


/* fin header */


/* section .introduction */

.blackpanther {
    margin-top: 2%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.blackpanther .introduction {
    padding-top: 169px;
    margin-left: 100px;
    margin-right: 120px;
    height: 100vh;
}

.blackpanther .introduction h1 {
    font-family: Panthera;
    display: block;
    font-size: 52px;
    color: #DF99F2;
}

.blackpanther .introduction h2 {
    font-family: "beyeno", sans-serif;
    font-size: 32px;
    color: #DF99F2;
    line-height: 50px;
}

.blackpanther .introduction h2 {
    font-family: "beyeno", sans-serif;
    font-size: 32px;
    color: #DF99F2;
    line-height: 50px;
}

.blackpanther .introduction p {
    font-family: Cantarell_Regular;
    color: #fff;
    font-size: 14px;
}

.blackpanther .introduction p a {
    text-decoration: underline;
    margin-top: 20px;
    color: white;
    display: block;
}


/* section fin inrouduction */


/* slider */

.slider {
    position: relative;
    margin-left: 90px;
    height: 320px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.rond {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #021740;
    border-radius: 50px;
    position: absolute;
    left: 95%;
    top: 40%;
    z-index: 4;
    font-size: 29px;
    font-size: 700;
    color: white;
    border: none;
}

.conteneur_slider {
    display: flex;
    flex-direction: row;
    transition: 800ms;
}

.slide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    background-color: #07338C;
    width: 520px;
    height: 280px;
}

.slide .leftcard img {
    width: 240px;
    height: 280px;
}

.slide .Rightcard {
    margin: 12px;
    padding-top: 15px;
    width: 260px;
}

.slide .Rightcard h1 {
    font-family: beyeno;
    font-size: 25px;
    color: #DF99F2;
}

.slide .Rightcard p {
    font-family: Cantarell_Regular;
    color: #fff;
    font-size: 12px;
}

.slide .Rightcard a {
    font-family: Cantarell_Regular;
    color: #fff;
    font-size: 14px;
    padding-top: 4px;
    text-decoration: underline;
}


/* fin slider */

.container-gazet {
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.container-gazet .conten1 {
    width: 60%;
}

.conten1 h1 {
    font-family: beyeno;
    color: #DF99F2;
    font-size: 25px;
    padding-top: 30px;
}

.conten1 p {
    font-family: Cantarell_Regular;
    padding-top: 20px;
    font-size: 14px;
    text-align: justify;
}

.container-gazet .conten2 {
    padding-left: 20%;
    width: 40%;
}


/* card */

.conten2 {
    display: flex;
    justify-content: center;
    position: relative;
}

.card {
    width: 350px;
    height: 118vh;
}

.card .pdp-chala {
    width: 310px;
    margin: 0 auto;
    position: relative;
    z-index: 4;
    padding-bottom: 15px;
}

.card .pdp-chala img {
    width: 310px;
}

.conten2 .container {
    position: relative;
    top: -293px;
    width: 350px;
    height: 370px;
    background: rgb(255, 255, 255);
    z-index: 0;
    border-radius: 20px;
    color: #0B0B0B;
    padding-top: 275px;
}

.conten2 .container .description {
    width: 315px;
    margin: 0 auto;
}

.description h1 {
    text-align: center;
    padding: 8px;
    font-family: Cantarell_Regular;
    font-size: 30px;
}

.description .palmares {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description .palmares button {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 40px;
    border-radius: 10px;
    outline: none;
    background-color: #3D2DA6;
    border: none;
    color: #fff;
    font-family: Cantarell_Regular;
}

.description h2 {
    font-family: Cantarell_Regular;
    font-size: 14px;
    margin-top: 15px;
    font-weight: 400;
}

.description h2 span {
    font-weight: 600;
}

.conten2 .container img {
    margin-top: 80px;
    width: 100%;
    height: auto;
}


/* contact us */

.contact-us {
    background-image: url("../IllustrationsLogo/Accueil/Pantherhome7.png");
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.form_conatctus {
    text-align: center;
    margin: auto;
    width: 858px;
    height: 631px;
    color: white;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.8547794117647058) 25%, rgba(255, 255, 255, 0.35898109243697474) 51%, rgba(166, 166, 166, 0.227328431372549) 96%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
}

.form_conatctus button:hover {
    box-shadow: 0px 0px 10px #021740;
}

.form_conatctus form input,
.form_conatctus form textarea {
    display: block;
    outline: none;
    padding-left: 42px;
    padding-top: 5px;
    padding-bottom: 20px;
    border: 1px solid black;
    color: #021740;
    border-radius: 50px;
    width: 400px;
    margin-top: 30px;
    font-size: 14px;
    background-color: transparent;
}

.form_conatctus form textarea {
    padding-left: 50px;
}

.form_conatctus form h3 {
    font-family: Cantarell_Regular;
    text-align: center;
    font-weight: 200;
    font-size: 14px;
    color: #021740;
}

.form_conatctus form h1 {
    font-family: Cantarell_Regular;
    text-align: center;
    font-size: 40px;
    color: #021740;
}

.form_conatctus button {
    line-height: 50px;
    margin-top: 33px;
    width: 174px;
    height: 54px;
    border-radius: 38px;
    outline: none;
    font-family: beyeno;
    border: none;
    background-color: #F2CEF2;
}


/* dans la page eniggme */

footer {
    width: 100%;
    height: 480px;
    background-image: linear-gradient(180deg, #3D2DA6 0%, #021740 90.43%);
    background-position: top left;
    background-size: cover;
}

.containeur-footer {
    font-family: cantarell;
    color: white;
    display: flex;
    padding-top: 56px;
}

.foot_sayna-contsayna {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.contenu {
    width: 350px;
}

.contenu h1 {
    padding-bottom: 20px;
    font-size: 24px;
}

.contenu p {
    padding-bottom: 10px;
    color: white;
}

.contenu p a {
    color: white;
}

.contenu p:hover {
    text-decoration: underline;
}

.ajust-contenu1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}

.grp-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.heroprotecteur {
    display: none;
}

.nav-footer h3 {
    margin-top: 40px;
    color: white;
}

.nav-footer h3 a {
    color: white;
    font-size: 16px;
}

.nav-footer h3 a:hover {
    text-decoration: underline;
}

.nav-footer h2 a:hover {
    text-decoration: underline;
}

.nav-footer h2 a {
    color: white;
    font-size: 16px;
}

.ajust-contenu1 {
    font-family: cantarell;
    padding-top: 20px;
}

.nav-footer p {
    margin-top: 8px;
    color: white;
}

.nav-footer p {
    margin-top: 8px;
    color: white;
}

.nav-footer p a {
    color: white;
}

.grp-btn img:hover {
    transform: scale(1.1);
}

.footfacebook img,
.loginstagram img,
.foottwitter img,
.logtk img {
    margin: 7px 7px;
}

.Pzoom {
    margin: 30px;
    background: url("../IllustrationsLogo/Allpages/footer1.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 325px;
    display: flex;
    align-items: center;
    transition: 500ms;
}

.Pzoom .saynalogo {
    margin-left: 50px;
}

.Pzoom:hover {
    transform: scale(1.1);
}

.droit p {
    width: 50%;
}

body {
    position: relative;
    animation: mymove 1.3s;
}

@keyframes mymove {
    from {
        left: -100%;
        opacity: 0.3;
        transition: 200ms;
    }
    to {
        left: 0%;
        opacity: 1;
        transition: 3s;
    }
}

@keyframes fading {
    0% {
        opacity: 0;
        transform: scale(1.01);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.grp-logohead:hover {
    transform: scale(1.1);
    transition-duration: 10ms;
}

.caherOUIleft {
    opacity: 0;
    transform: translateX(-50px);
}

.caherOUIright {
    opacity: 0;
    transform: translateX(50px);
}

.translateYanimeOUI {
    opacity: 0;
    transform: translateY(80px)
}

.caherNON {
    opacity: 1;
    transform: translateX(0);
    transform: translateY(0);
    transition: 800ms;
}

.anecdote img:hover,
.pdp-chala:hover,
.desact:hover {
    transform: scale(1.1);
    transition-duration: 200ms;
}

.introduction h1:hover,
.introduction h2:hover,
.leftcard img:hover {
    transform: scale(1.05);
}

.leftcard img:hover {
    transform: scale(1.08);
}

.popuUpFormulaire {
    background-color: #07338C;
    width: 50%;
    border-radius: 30px;
    position: absolute;
    top: 300px;
    left: 400px;
}

.popInfo {
    width: 70%;
    color: white;
    margin: 0 auto;
    padding: 20px;
}

.popInfo {
    font-family: Cantarell_Regular;
}

.popInfo p {
    margin-top: 40px;
}

.popInfo button {
    padding-left: 12px;
    padding-right: 12px;
    line-height: 40px;
    border-radius: 10px;
    outline: none;
    background-color: #3D2DA6;
    border: none;
    color: #fff;
    font-family: Cantarell_Regular;
    width: 200px;
    position: relative;
    left: 50%;
}

.animationFaddincart {
    animation: fading 1.3s;
}